<div class="card-artista">
    <img src="images/@Artista?.FotoPerfil" class="card-img"/>
    <div class="card-body">
        <h4>@Artista?.Nome</h4>
        <p class="bio">@Artista?.Bio</p>
        <a class="btn" href="/EditarArtista/@Artista?.Nome">Detalhes</a>
    </div>
</div>

@code {
    // Representa um artista a ser exibido no card. Recebe como parâmetro um único objeto, que é o artista response, pois ele já contém todas as informações necessárias para exibir o card
    [Parameter]
    public ArtistaResponse Artista { get; set; } = null!;
}
