@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root { /*A pseudoclasse root serve para criar variávies globais, ou seja, variáveis que podem ser utilizadas em qualquer lugar do arquivo*/

    /*Variáveis são declaracas usando dois hífens seguidos do nome da variável e do seu respectivo valor*/
    --cor-primaria: #113F67; /*Background*/
    --cor-secundaria: #FDF5AA; /*Cor clara/Branco*/
    --cor-terciaria: #58A0C8; /*Footer, header e destaques*/
    --cor-hover: #34699A; 
    --fonte-primaria: "Krona One", sans-serif; /*Títulos*/
    --fonte-secundaria: "Montserrat", sans-serif; /*Textos*/

    /*Para utilizar as variáveis, é necessário usar a função var(nome-variavel), no lugar do valor.*/
}

* { /*CSS reset*/
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%; /*No padding, além de especificar os valores horizontais e verticais, também é possível indicar, individualmente, cada um dos dos 4 cantos. A ordem é: superior, direita, inferior, esquerda. */
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem; /*1 rem = 16px*/ /*rem é uma medida relativa para o font-size, ou seja, deixa as fontes responsivas a configuração do usuário.*/
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%; /*A porcentagem se trata da medida relativa de tamanho, ou seja, adapta o tamanho ao zoom ou tela do dispositivo. Ao aplicar na tag pai, aplica aos descendentes. */
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center; /* Centraliza os itens no eixo horizontal */
    align-items: center; /* Centraliza os itens no eixo vertical */
    gap: 10px; /* Cria um espaço entre o ícone e o texto */

    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link img {
    /*Seletor que aplica o mesmo estilo para toda tag img que for descendente de um elemento com a classe apresentacao__links__link*/
    height: 24px; /* Define a altura do ícone */
}

.apresentacao__links__link:hover {
    /*Aplica a animação de passar o mouse em cima (hover) nos links*/
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

@media (max-width: 1200px) { /*Media query é utilizado para manipular imagens em determinadas situações. O "()" indica uma condicional, ou seja, se o max-width for menor do que 1200, realiza as alterações especificadas.*/
    .cabecalho { /*Primeiro se declara a classe e depois são feitas as alterações condicionais.*/
        padding: 10%
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse; /*Além de trasnformar de raw (linha) para column (coluna) também reverte de lado, no caso, de baixo para cima.*/
        padding: 5%
    }
    .apresentacao__conteudo {
        width: auto; /*A propriedade auto faz com que o elemento se adapte as configurações do elemento pai*/
    }
}
