.cabecalho {
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo {
    width: 4%;
    height: auto; /*A altura é definida automaticamente para manter a proporção da imagem. */
}
