/*Na estilização, assim como no HTML, é necessário definir um ordem de prioridades, pois o CSS trata de muitas propriedades do site, como a localização de elementos, cores, fontes etc. Irei começar com a cor de fundo e, em seguida, com a cor dos elementos.*/
* { /*O asterisco serve para selecionar todos os elementos da página. Neste caso, está sendo utilizado para fazer um reset CSS, ou seja, retirar as configurações de margem, borda e padding que já vem automaticamente nos elementos.*/
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000/*Preto*/; /*Se refere a cor do fundo*/
    color: #F6F6F6/*Branco*/; /*Se refere a cor do texto*/
}

.titulo-destaque { /*Para que, ao alterar uma tag, a alteração não seja aplicada para todos os elementos, é necessário criar uma classe com as propriedades e aplicá-la no HTML usando "class=nome_classe". É possível fazer a mesma coisa utilizando um ID, colocando um "#" antes do nome do ID no CSS e "id="nome_id" no HTML.*/
    color: #22D4FD
}
