@page "/artistas"

<h3>Artistas</h3>

@* Para cada artista, exiba o seu nome (para comentar: ctrl + k + c) *@
<p>NOME-DO-ARTISTA</p>

@code {
    private ICollection<ArtistaResponse>? artistas; // Propriedade para receber a lista de artistas


}
